/* // CartPage.module.css

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.cartList {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-right: 20px;
}

.itemInfo {
  display: flex;
  align-items: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0077b6;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #023e8a;
}

.totalPrice {
  margin-top: 20px;
  font-size: 20px;
  text-align: right;
}  */
