.services{
   background-color: rgb(248,246,242);
    position: relative;
    width: 100%;
    height: 120vh;
}
.heading{
    position: relative;
    text-align: center;
    top: 3rem;
}

.heading h4{
    color: rgb(241,90,37);
}

.heading h1{
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 40px;
}

      /* service section 2  */

.container{
    position: relative;
    gap: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 0.5rem;
}

.img_box{
    height: 66vh;
    width: 20%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
    top: 6rem;
    box-shadow: 10px 10px 5px rgb(189, 189, 189);

}

.inner_img{
    height: 30vh;
    border-radius: 13px;
    background-color: black;
}

.inner_img img{
    position: relative;
    width: 100%;
    height: 30vh;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.inner_text{
    position: relative;
    right: 1rem;
    /* top: 1rem; */
}

.inner_text p1{
    /* color: aqua; */
    position: relative;
    top: 1rem;
    font-size: small;
    width: 80%;
font-weight: 500;    left: 2.5rem;

}

.inner_text h2{
    position: relative;
    text-align: left;
    right: 0rem;
    width: 80%;
    color: black;
}

.inner_text p{
    position: relative;
    top: 2rem;
    width: 90%;
    /* text-align: left; */
    top: 0;
    left: 2.5rem;
    font-weight: 500;
    font-size: 12px;

   
}

.outer_box{
    position: relative;
    width: 96%;
    height: 50vh;
    background-color: rgb(248,246,242);
    top: 7rem;
    left: 1.9rem;
    border-radius: 10px;
}

.outer_box2{
    position: relative;
    width: 93%;
    border-radius: 10px;
    height: 40vh;
    left: 2.7rem;
    top: 2rem;
    background-color: rgb(241,90,37);
}

